{{ $imageName := regexReplaceAll "^[^/]*/" .Image "" }}
{{ $version := "latest" }}
{{ $tag := regexFind ":.*$" .Image }}
{{ if $tag }}
  {{ $imageName = regexReplaceAll ":.*$" $imageName "" }}
  {{ $version = trimAll ":" $tag}}
{{ end }}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: "Applications/{{ $imageName }}"
  type: udm.Application
  children:
  - name: "{{ $version }}"
    type: udm.DeploymentPackage
    deployables:
    - name: "{{ $imageName }}"
      type: docker.ContainerSpec
      containerName: "{{ $imageName }}"
      image: "{{ .Image }}"
      showLogsAfter: 10
